# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-cw.html

files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent":{
           "metrics_collection_interval":60,
           "logfile":"/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log",
           "run_as_user":"cwagent"
        },
        "metrics":{
          "namespace":"CWAgent/AppBuilderData",
          "append_dimensions":{
            "InstanceId":"${aws:InstanceId}",
            "InstanceType":"${aws:InstanceType}",
            "AutoScalingGroupName":"${aws:AutoScalingGroupName}"
          },
          "aggregation_dimensions":[
            [ "AutoScalingGroupName", "InstanceId" ],
            [ ]
          ],
          "metrics_collected":{
            "cpu":{
              "resources":[
                "*"
              ],
              "measurement":[
                "time_idle",
                "time_iowait",
                "time_system",
                "time_user",
                "usage_steal",
                "usage_system",
                "usage_user",
                "usage_iowait"
              ]
            },
            "mem":{
              "measurement":[
                "used_percent",
                "total",
                "available_percent"
              ]
            }
          }
        }
      }

container_commands:
  start_cloudwatch_agent:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a append-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
